    <!-- Menu Item for {{ menu_name }} -->
    <menuitem 
        id="menu_{{ menu_id_snake }}" 
        name="{{ menu_name }}" 
        action="{{ action_id }}" 
        parent="{{ parent_menu_id }}" 
        sequence="10"/>