    <!-- {{ model_human_name }} Form View -->
    <record id="view_{{ model_name_snake }}_form" model="ir.ui.view">
        <field name="name">{{ model_name }}.form</field>
        <field name="model">{{ model_name }}</field>
        <field name="arch" type="xml">
            <form string="{{ model_human_name }}">
{%- if layout == 'sheet' %}
                <sheet>
                    <div class="oe_title">
                        <h1>
                            <field name="name" placeholder="Enter name..."/>
                        </h1>
                    </div>
                    <group>
                        <field name="name"/>
                    </group>
                </sheet>
{%- else %}
                <group>
                    <field name="name"/>
                </group>
{%- endif %}
            </form>
        </field>
    </record>