    <!-- Action for {{ model_name }} -->
    <record id="action_{{ model_name_snake }}" model="ir.actions.act_window">
        <field name="name">{{ action_name }}</field>
        <field name="res_model">{{ model_name }}</field>
        <field name="view_mode">list,form</field>
    </record>